.Modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
// .openModalBtn {
//   width: 200px;
//   height: 40px;
//   border: none;
//   border-radius: 6px;
//   background-color: aqua;
//   color: white;
//   cursor: pointer;
// }
