.modalBackground-sigin {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.modalContainer-sigin {
  width: 250px;
  height: 180px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px #595353;
}
.modal-icon-sigin {
  display: flex;
  flex-direction: row-reverse;
}
.modal-text__tittle-sigin {
  font-size: 20px;
  font-weight: 700;
}
.modal-text__desc-sigin {
  font-size: 13px;
}
.check-icon-sigin {
  padding: 20px;
  font-size: 30px;
  background-color: #3c7026;
  color: white;
  border-radius: 50px;
  position: absolute;
  margin-left: 75px;
  margin-top: -165px;
}
.modalSignin__btn-sigin {
  border: none;
  background-color: #3c7026;
  color: #fff;
  padding: 10px 110px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0px 0px 5px #301515;
}
