.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.modalContainer {
  width: 600px;
  height: 370px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.modal-icon {
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.info-person {
  display: flex;
  justify-content: space-between;
}
.modal-text__tittle {
  font-size: 24px;
  font-weight: 600;
  line-height: 0px;
}
.modal-text__name,
.modal-text__phone,
.modal-city__city,
.modal-despayment p {
  font-size: 18px;
  font-weight: 600;
  line-height: 0px;
  display: flex;
}
.modal-despayment textarea {
  width: 580px;
  padding: 10px;
  border: 1px solid #cdcccc;
  border-radius: 10px;
}
.modal-name__input,
.modal-phone__input {
  width: 250px;
  padding: 10px;
  border: 1px solid #cdcccc;
  border-radius: 10px;
}
.modal-city select {
  width: 600px;
  padding: 10px;
  border: 1px solid #cdcccc;
  border-radius: 10px;
}

.modal-des textarea {
  width: 579px;
  height: 113px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #cdcccc;
  border-radius: 10px;
}
.modal-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.btn__cancel {
  padding: 10px 40px 10px 40px;
  background-color: #949895;
  border: none;
  color: #000000;
  font-size: 20px;
  border-radius: 10px;
  line-height: 0px;
  cursor: pointer;
}

.btn__save {
  padding: 10px 40px 10px 40px;
  background-color: #3c7026;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
