.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer {
  width: 300px;
  height: 200px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.modal-icon {
  display: flex;
  flex-direction: row-reverse;
}
.modal-text__tittle {
  font-size: 20px;
  font-weight: 700;
}
.modal-text__desc {
  font-size: 13px;
}
.btn__checkEmail {
  margin-top: 20px;
  width: 100%;
  background-color: #3c7026;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.checkEmail {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
}
