.modalBackground-Rules {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer-Rules {
  width: 650px;
  height: 680px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.Rules-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-icon-Rules {
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.Rules-text__tittle {
  font-size: 24px;
  font-weight: 600;
  line-height: 0px;
}
.rules {
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
}
.rules_one {
  font-size: 15px;
  font-weight: 500;
}

.Rules-btn {
  width: 100%;
}
.Rules-btn__yes {
  width: 100%;
  padding: 10px 0px 10px 0px;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  background-color: #3c7026;
  margin-top: 20px;
}
