@import "../theme.scss";

.container-addtocar {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.con-addToCart {
  height: 100%;
  background-color: #eeeeee;
  padding: 55px 0px 60px 0px;
}
.addToCart {
  width: 1020px;
  margin: 0px auto;
  height: 100vh;
}

.text-quantily-cart {
  display: flex;
  justify-content: flex-start;
}
.quantily-cart__plus,
.quantily-cart__number,
.quantily-cart__minus {
  border: 1px #fff3ed solid;
  padding: 2px 10px 6px 10px;
  height: 20px;
  cursor: pointer;
}

.table-addCart {
  background: #fff;
  // width: 1000px;
  margin: 0px auto;
  padding: 5px 10px 0px 10px;
  border-radius: 10px;
  height: 100vh;
}
.cart-top {
  padding: 20px 0px 20px 0px;
}
.cart-top__nav p {
  font-size: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.cart-top__nav a {
  color: blue;
  font-size: 14px;
  text-decoration: none;
}
.text-quantily {
  display: flex;
  justify-content: center;
  height: auto;
}
.quantily__plus,
.quantily__number,
.quantily__minus {
  border: 1px #fff3ed solid;
  padding: 2px 10px 6px 10px;
  height: 20px;
}
.quantily__plus,
.quantily__minus {
  background-color: #ffff;
}
.addCart-header {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #bbbaba;
}

.addCart-top__id {
  width: 10%;
  text-align: center;
}
.addCart-top__name {
  width: 20%;
  text-align: center;
}
.addCart-top__img {
  width: 20%;
  text-align: center;
}
.addCart-top__img img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: 50% 0;
}
.addCart-top__price {
  width: 20%;
  text-align: center;
}
.addCart-top__quan {
  width: 10%;
  text-align: center;
}
.addCart-top__dele {
  width: 10%;
  text-align: center;
  text-align: center;
}
.addCart-top__totalPrice {
  width: 20%;
  text-align: center;
  text-align: center;
}
.addCart-contaniner {
  display: flex;
  align-items: center;
  border-bottom: 1px #bbbaba solid;
  padding: 10px 0px 8px 0px;
}
.faTrashCan {
  color: #414f41b8;
}
.row {
  border: 1px black solid;
  padding: 10px 0px 10px 0px;
}
.purchase {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: #fff;
  width: 980px;
  margin: 0px auto;
  box-shadow: 00px 0px 10px rgb(47, 45, 45);
  padding: 0px 20px;
  align-items: center;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.purchase__btn {
  background-color: #3c7026;
  border: none;
  padding: 10px 40px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  line-height: 12px;
  border-radius: 10px;
  cursor: pointer;
}
.purchase-total {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
.total {
  display: flex;
  align-items: center;
  width: 170px;
}
.purchase__total {
  font-size: 20px;
  font-weight: 600;
}
.purchase__price {
  font-size: 16px;
}
.purchase__dete button {
  padding: 10px 20px;
  border: none;
  margin-left: 10px;
  color: #fff;
  background-color: #3c7026;
  border-radius: 10px;
  cursor: pointer;
}

.noCart {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  margin-top: 200px;
  // justify-content: center;
  flex-direction: column;
}
.noCart p {
  font-size: 16px;
  font-weight: 400px;
  line-height: 0px;
  margin-bottom: 20px;
}
.noCart img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 50% 0;
  border-radius: 300px;
  border: 1px solid #76b66f;
}
