$color: black;
$backgroundcolor: #fcf8f3;
$button: #3c7026;
$backgroundcolor__profile: white;
$font-size__title: 30px;
$font-weight__title: 800;
$font-size__midium: 20px;
$font-weight__midium: 600;
$backgroundcolorForm: #d1d3d1;
