@import "theme.scss";

.homePage {
  display: flex;
  justify-content: space-between;
  margin: 70px auto;
  height: 100vw;
  width: 1200px;
  font-family: "Open Sans", sans-serif;
}

.navLeft-logo p,
.navLeft-network p,
.navLeft-Market p {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
}
.homepage-navRight {
  width: 70%;
  .navRigth-Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -30px;
  }
  .selectToday {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.navLeft-logo,
.navLeft-network,
.navLeft-Market {
  display: flex;
  align-items: center;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homePage-product {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;
  .product {
    width: 130px;
    padding: 20px 30px;
    border: 1px black solid;
    box-shadow: 2px 2px #888888;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .product a {
    text-decoration: none;
    color: #000;
  }
}
.product__imgHP {
  height: 191px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 0;
}
.product__name {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product__name a {
  text-decoration: none;
}
.product__price {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  line-height: 0px;
  padding-bottom: 5px;
  margin-top: 10px;
  color: rgb(173, 3, 3);
}
.navRigth-Top__des {
  font-weight: 600;
  font-size: 20px;
}
.add-product_btn {
  border: none;
  align-items: center;
  padding: 7px 5px 7px 5px;
  background-color: #3c7026;
  border-radius: 10px;
  color: #ffff;
  font-size: 13px;
  font-weight: 600;
}
.navRigth-Top__search {
  display: flex;
  align-items: center;
  border: 1px black solid;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #e5e5e5;
  .search {
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 10px;
    background-color: #e5e5e5;
  }
  .faSearch {
    padding: 5px;
    margin-left: 5px;
  }
}
.selectToday__des {
  font-size: 15px;
  font-weight: 600;
}
.selectToday_name {
  font-size: 13px;
  padding: 10px 20px;
  border: 1px black solid;
  background-color: #cccbcb;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}
.selectToday_name option {
  background-color: white;
  font-size: 15px;
}
.faBasketball-home,
.faShop-home {
  width: 20px;
  height: 20px;
  color: $button;
}
.position {
  cursor: pointer;
  color: #3c7026;
}
