.right-menu {
    margin-left: 10px;
    margin-right: 5px;
}

.product-user {
    width: 100%;
    &__header {
        width: 100%;
    }
    &__body {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 5fr;

        &__left-menu {
            width: 100%;
            height: 550px;
            &__avata {
                padding: 10px 0px 0px 0px;
                img {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }
            }

            &__menu {
                margin-left: 0px;
                ul {
                    list-style: none;
                    margin-left: -15px; 
                }

                li {
                    padding: 20px 0px 0px 0px;

                    & a {
                        font-size: 20px;
                        text-decoration: none;
                        color: black;
                    }

                    & img {
                        vertical-align: middle;
                        padding: 0px 5px 0px 0px;
                    }
                }

                text-align: left;
            }
        }


        &__right-menu {
            background-color: #EEEEEE;
            width: 100%;
            height: 632px;
            &__title {
                width: 99%;
                padding-bottom: 10px;
                font-weight: bold;
                font-size: 15px;
                display: grid;
                margin: 0px 0px 5px 0px;
                padding-top: 5px;
                grid-template-columns: 1fr 2fr 2fr 1fr 1fr 3fr 1fr 1fr;
                border: 2px solid #8f8e8e;
            }

            h2 {
                text-align: left;
                padding: 0px;
                margin:5px;
            }

            &__head {
                display: flex;
                padding: 0px 0px 10px 0px;
                &__filter {
                    border: 1px solid #dddddd;
                    padding: 0px 0px 0px 20px;
                    width: 900px;
                    height: 40px;
                    border-radius: 5px;
                }

                &__add-button {
                    margin-left: 10px;
                    width: 182px;
                    height: 43px;
                }
            }

            &__list {
                width: 100%;
                height: 492px;
                overflow: auto;
            }

            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
        }
    }







}

.add-button {
    background-color: #4CAF50;
    ;
    color: white;
}

.product-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr 3fr 1fr 1fr;
    font-size: 14px;
    &-img {
        width: 125px;
    }

    &__action {
        background-color: #EEEEEE;
        padding-left: 10px;
        border: none;
    }

    &__icon {
        width: 25px;
        height: 25px;
        background-color: #EEEEEE;

    }

}