@import "../theme.scss";
.container-EditProfile {
  width: 100%;
  height: 760px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: #eeee;
}
.editprofile-location__title {
  font-weight: 600;
}
.editinfor-text-birth__input {
  width: 760px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #232121;
}
.editProfile__tittle {
  font-size: 30px;
  font-weight: 800;
  display: flex;
}
.container-editprofile {
  width: 843px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  .editProfile {
    width: 800px;
    height: 552px;
    background-color: $backgroundcolor__profile;
    border-radius: 10px;
    padding: 10px 20px;
  }
  .editProfile-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size__midium;
    font-weight: $font-weight__midium;
  }
  .faClose {
    padding: 8px 12px;
    background-color: #eeee;
    border-radius: 20px;
    color: #3c7026;
  }
  .editprofile-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: black 1px;
  }
  .editProfile-info-text__name {
    margin-right: 50px;
    font-size: 15px;
    font-weight: $font-weight__midium;
    margin-left: 20px;
    border: none;
    outline: none;
  }
  .edit-cityProfile {
    padding: 10px 20px;
    border-radius: 10px;
    width: 800px;
    border: 1px solid #232121;
  }
  .faEdit {
    color: #3c7026;
    font-weight: 800;
    margin-right: 10px;
  }
  .editProfile-info-text__edit {
    padding: 5px 10px 6px;
    margin-left: 20px;
    background-color: #949895;
    border-radius: 10px;
    cursor: pointer;
  }
  .editprofile-location {
    display: flex;
    flex-direction: column;
    .editprofile-location__title {
      display: flex;
      font-weight: $font-weight__midium;
    }
    .editprofile-location__text {
      padding: 10px 20px;
      border-radius: 10px;
      border: 1px solid #232121;
    }
  }
  .editprofile-gener {
    display: flex;
    justify-content: space-between;
    .editprofile-phone__text,
    .editprofile-gender_name {
      padding: 10px 20px;
      border-radius: 10px;
      width: 350px;
      border: 1px solid #232121;
    }
  }
  .editGenderProfile {
    padding: 10px 20px;
    border-radius: 10px;
    width: 350px;
    border: 1px solid #232121;
  }
  .editprofile-phone__title,
  .editprofile-gender__title {
    display: flex;
    font-weight: $font-weight__midium;
  }
  .editProfile-info-text__icon {
    display: flex;
    align-items: center;
  }
  .edit_Fapen {
    color: #3c7026;
    cursor: pointer;
  }
  .btn-edit {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
    .btn-edit__cancel {
      padding: 8px 40px;
      background-color: #949895;
      cursor: pointer;
    }
    .btn-edit__save {
      padding: 8px 40px;
      background-color: $button;
      color: $backgroundcolor;
      cursor: pointer;
    }
  }
}
